
<div class="navMargin">
  <nav class="nav nav-tabs"  style="background-color: #e3f2fd;">
    <a href="#" class="nav-item nav-link active">
        <i class="fa fa-home"></i> Home
    </a>
    <a routerLink="PersonalInformation" routerLinkActive="active" class="nav-item nav-link">
        <i class="fa fa-user"></i> Create
    </a>
    <a routerLinkActive="active" routerLink="PersonalInformationDt"  class="nav-item nav-link">
        <i class="fa fa-envelope"></i> List
    </a>
  
  </nav>
</div>
<router-outlet></router-outlet>